.PageNav {
    display: block;
}

.PageNav-list {
    padding: 0;
    list-style: none;
}

.PageNav-Link {
    background-color: @brandColor;
    border-radius: @radiusLg;
    color: #fafafa;
    display: inline-block;
    font-size: .875em;
    font-weight: 100;
    padding: .83333333em;
    position: relative;
    text-decoration: none;
}