.PageNav {
  display: block;
  height: 71px;
}

.PageNav-list {
  padding: 0;
  list-style: none;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: @brandColor;
  z-index: 10;
  text-align: center;
  opacity: 0;
  -webkit-animation: slide-up-top 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-up-top 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @media @bpMedium {
    opacity: 1;
    display: flex;
    position: relative;
    background-color: transparent;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
  }
}

.PageNav-list--open {
  opacity: 1;
  -webkit-animation: slide-in-top 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-in-top 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.PageNav-Link {
  margin: 10px 5px;
  background-color: @brandColorDarker;
  border-radius: @radiusLg;
  color: @washiWhite;
  display: inline-block;
  font-size: 0.875em;
  font-family: @fontFamilySemiBold;
  padding: 0.83333333em 1.2em;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.02rem;
  @media @bpMedium {
    margin: 0 5px;
  }
}

.PageNav-Link:hover {
  background-color: @washiWhite;
  color: @brandColor;
  transition: all 800ms;
  cursor: pointer;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
