.Section {
  padding: @spaceSmall 0;
  margin-bottom: 2.5em;

  &&--fullHeight {
    height: 100%;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}