.Header {
    background-color: @brandColor;
}

.Header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-logo {
    width: 100px;
    filter: invert(100%);
}