.Login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @brandColor;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  background-image: linear-gradient(@brandColor, @darkerblue);
}

.Login-logo {
  width: 100%;
  max-width: 300px;
  filter: invert(1);
  -webkit-animation: fade-in 800ms linear ;
          animation: fade-in 800ms linear ;
}