.Login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: @brandColor;
}

.Login-logo {
  width: 100%;
  max-width: 300px;
}