body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: sans-serif;
}

h1, h2, a {
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.Main-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../Images/background-2.svg');
}

.Main {
  margin-top: 20px;
  padding: 0 30px;
  /* display: flex; */
  justify-content: center;
  margin-bottom: 100px;
}

.Login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 3px 3px 1px;
  border-color: #000;
}

.Logo {
  width: 100%;
  max-width: 200px;
}

.Logo-header {
  height: 30px;
  margin-right: 40px;
}

.Input-container {
  display: flex;
  flex-direction: column;
}

.Input {
  font-size: .8rem;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 10px;
  width: 250px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: #fff;
}

.Input--textarea {
  width: 100%;
  max-width: 600px;
  height: 200px;
}

.Heading {
  margin: 0;
}

.Heading--small {
  font-size: 1rem;
}

.Header {
  padding: 20px 40px;
  background-image: linear-gradient(#ffffff, #cdcdcd);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bdbdbd;
}

.PageNav {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.PageNav-link {
  display: inline-block;
}

.u-flex {
  display: flex;
}

.u-marginAz {
  margin: 0;
}

.u-marginTz {
  margin-top: 0;
}

.u-marginTxsm {
  margin-top: 5px;
}

.u-marginTsm {
  margin-top: 10px;
}

.u-marginTmd {
  margin-top: 15px;
}

.u-marginTlg {
  margin-top: 20px;
}

.u-marginTxlg {
  margin-top: 40px;
}

.u-marginRmd {
  margin-right: 15px;
}

.u-verticalCenter {
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Users-container {
  display: flex;
  flex-wrap: wrap;
}

.Users-block {
  background-image: linear-gradient(#ffffff, #cdcdcd);
  border: 1px solid #bdbdbd;
  margin: 0 10px 10px 0;
  padding: 20px;
  border-radius: 5px;
  font-family: sans-serif;
}

.Users-block > p {
  margin: 5px 0;
  font-size: .9rem;
  letter-spacing: .005rem;
}

.Button {
  font-family: sans-serif;
  font-weight: 600;
  font-size: .8rem;
  letter-spacing: .008rem;
  padding: 10px 15px;
  border-radius: 10px;
}

.Button:hover {
  cursor: pointer;
}

.Button--add {
  color: #fff;
  border: 1px solid #1670b1;
  background-image: linear-gradient(#46a9de, #1a7ec5);
  text-shadow: 1px 1px 0px #1670b1;
  box-shadow: inset 0 1px 0 #66bfff;
}

.Button--delete {
  color: #fff;
  border: 1px solid #610707;
  background-image: linear-gradient(#c72121, #8a0808);
  text-shadow: 1px 1px 0px #610707;
  box-shadow: inset 0 1px 0 #e43f3f;
}

.Heading--admin {
  /* text-shadow: 2px 2px 0px #B5B5B5; */
  color: #1670b1;
  font-size: 1.4rem;
  padding-bottom: 5px;
  border-bottom: 2px solid #bdbdbd;
}